@tailwind base;
@tailwind components;
@tailwind utilities;
    
.bg-login {
    background-image: url('./assets/login-background-640.webp');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    min-width: 640px;
    height: 100vh;
}

@media (min-width: 640px) {
    .bg-login {
        background-image: url('./assets/login-background-768.webp');
        width: 100%;
    }
}

@media (min-width: 768px) {
    .bg-login {
        background-image: url('./assets/login-background-1024.webp');
    }
}

@media (min-width: 1024px) {
    .bg-login {
        background-image: url('./assets/login-background-1280.webp');
    }
}

@media (min-width: 1280px) {
    .bg-login {
        background-image: url('./assets/login-background-1536.webp');
    }
}